{% include "bportal/main/header_popup.html" %}
{% include "bportal/main/messages.html" %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<div class="page">
    <div class="page__container">
        <div class="page__box">
            <a href="javascript:window.close();" class="page__close"><i class="bp-icon-close_bold"></i></a>
            <div class="page__title">
                <h3 class="page__title--head">{% block pageTitle %}{% endblock %}</h3>
            </div>
            {% block pageContent %}{% endblock %}
        </div>
    </div>
</div>

{% include "bportal/main/footer_popup.html" %}
