{% extends "bportal/main/page.html" %}

{% load staticfiles %}

     
{% if user.is_anonymous %}
	{% block pageTitle %}
		{% if validlink %}
			Wprowadź nowe hasło
		{% else %}
			Resetowanie hasła nie powiodło się
		{% endif %}
	{% endblock %}
	{% block pageContent %}
	<div class="page__content columns">
		<div class="column is-9-desktop">
			{% if validlink %}
			<p>Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.</p>
			<form action="" method="post" autocomplete="off" class="page__pass">{% csrf_token %}
				<div class="page__pass--row">
					<label for="{{ form.new_password1.id_for_label }}" class="page__pass--label">{{ form.new_password1.label }}:</label>
					{{ form.new_password1 }}
					<div class="page__pass--errors">
						{{ form.new_password1.errors }}
					</div>
				</div>
				<div class="page__pass--row">
					<label for="{{ form.new_password2.id_for_label }}" class="page__pass--label">{{ form.new_password2.label }}:</label>
					{{ form.new_password2 }}
					<div class="page__pass--errors">
						{{ form.new_password2.errors }}
					</div>
				</div>
				<div class="page__pass--row page__buttons">
					<button type="submit" name="reset" class="page__button--reset">Zmień hasło</button>
				</div>
			</form>
			{% else %}
			<p>Link pozwalający na reset hasła jest niepoprawny - być może dlatego, że został już raz użyty. Możesz ponownie zażądać zresetowania hasła.</p>
			{% endif %}
		</div>
	</div>
	{% endblock %}
{% endif %}
