{% extends "bportal/main/page.html" %}
{% load staticfiles %}

{% if user.is_anonymous %}
    {% block pageTitle %}
        Resetowanie hasła
    {% endblock %}
    {% block pageContent %}
        <div class="page__content columns">
            <div class="column is-9-desktop">
                <p>Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres email, a wyślemy Ci instrukcję opisującą sposób ustawienia nowego hasła.</p>
                <form action="" method="post" autocomplete="off" class="page__pass">{% csrf_token %}
                    <div class="page__pass--row">
                        <label for="{{ form.email.id_for_label }}" class="page__pass--label">{{ form.email.label }}:</label>
                        {{ form.email }}
                        <div class="page__pass--errors">
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="page__pass--row page__buttons">
                        <button type="submit" name="reset" class="page__button--reset">Resetuj moje hasło</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endif %}

