{% extends "bportal/main/page.html" %}

{% load staticfiles %}
     
{% if user.is_anonymous %}
	{% block pageTitle %}
		Potwierdzenie zresetowania hasła zostało wysłane
	{% endblock %}
    {% block pageContent %}
		<div class="page__content columns">
			<div class="column is-9-desktop">
 	       		<p>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu email została wysłana. Niebawem powinna się pojawić na Twoim koncie pocztowym.</p>
				<p>W przypadku nieotrzymania wiadomości email, upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
			</div>
		</div>
	{% endblock %}
{% endif %}
