[class^='js-truncate'], [class*=' js-truncate'] {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    content: "";
  }

  &.is-truncated {
    &:before {
      display: none
    }
  }
}